---
# tasks file for master-node

- name: Configuring Yum repo for k8s
  yum_repository:
    name: kubernetes
    description: Yum for k8s
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
    enabled: yes
    gpgcheck: yes
    repo_gpgcheck: yes
    gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

- name: installation of kubeadm viz kubectl & kubelet, docker and tc
  package:
    name: "{{ item }}"
    state: present
  loop:
    - "kubeadm"
    - "docker"
    - "iproute-tc"

- name: enabling services for docker and kubelet
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - kubelet
    - docker

- name: required image pulling for cluster
  command: kubeadm config images pull

- name: updating systemd driver
  copy:
    dest: /etc/docker/daemon.json
    src: daemon.json

- name: restarting docker services
  service:
    name: docker
    state: restarted

- name: updating k8s config file
  copy:
    dest: /etc/sysctl.d/k8s.conf
    src: k8s.conf

- name: restarting sysctl
  command: "sysctl --system"

- name: initialising kubeadm
  command: "kubeadm init --pod-network-cidr={{ cidr }} --ignore-preflight-errors=NumCPU --ignore-preflight-errors=Mem"
  ignore_errors: yes

- name: creating .kube directory
  file:
    path: $HOME/.kube
    state: directory

- name: copying admin.conf to .kube
  command: "cp -i /etc/kubernetes/admin.conf $HOME/.kube/config"

- name: setup overlay network using flannel plugin
  command: "kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml"

 
